.conteiner {
  width: 1518px;
  margin: 0 auto;
}

header {
  background-color: #74C69D;
}

.navbar {
  padding-top: 35px;
}
.navbar img {
  margin-left: 135px;
}
.navbar li {
  list-style: none;
}
.navbar i {
  position: absolute;
  color: white;
  display: none;
}
.navbar--items {
  opacity: 1;
}
.navbar--items ul {
  margin-right: 130px;
  display: flex;
  gap: 30px;
}
.navbar--items a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

@media (max-width: 375px) {
  .conteiner {
    width: 375px;
  }
  .navbar {
    width: 375px;
    padding-top: 20px;
  }
  .navbar img {
    margin-left: 20px;
  }
  .navbar i {
    position: absolute;
    color: rgb(255, 253, 253);
    display: inline;
    margin-left: 330px;
    font-size: 30px;
    margin-top: 6px;
  }
  .navbar--items ul {
    display: none;
  }
}
.part {
  margin-top: 30px;
  text-align: center;
}
.part--text h1 {
  margin-top: 16px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}
.part--text p {
  margin-top: 16px;
  font-size: 20px;
}

@media (max-width: 375px) {
  .part {
    margin-top: 36px;
    margin-bottom: 45px;
  }
  .part--text h1 {
    font-size: 24px;
  }
  .part--text p {
    line-height: 30px;
    width: 335px;
    margin-top: 16px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 45px;
  }
}
.map {
  display: flex;
  margin-top: 50px;
}
.map--img {
  margin-left: 210px;
  margin-top: 35px;
}
.map a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 11px 260px;
  margin-left: 180px;
  border-radius: 5px;
}
.map a:hover {
  background-color: rgb(96, 94, 94);
}

.form {
  width: 575px;
}

label {
  margin-left: 180px;
  margin-bottom: 30px;
}
label input {
  width: 575px;
  height: 38px;
  background: #EEEEEE;
  border-radius: 5px;
}
label textarea {
  width: 575px;
  height: 75px;
  background: #EEEEEE;
  border-radius: 5px;
}

@media (max-width: 375px) {
  .map {
    margin-top: -30px;
    display: flex;
    flex-direction: column-reverse;
  }
  .map--img {
    margin-left: 20px;
  }
  .map--img img {
    width: 335px;
    height: 224px;
  }
  .map a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 11px 139px;
    margin-left: 20px;
    border-radius: 5px;
  }
  .form {
    width: 335px;
  }
  label {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  label input {
    width: 335px;
    height: 38px;
    background: #EEEEEE;
    border-radius: 5px;
  }
  label textarea {
    width: 335px;
    height: 141px;
    background: #EEEEEE;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
footer {
  background-color: #74C69D;
  height: 125px;
  margin-top: 93px;
  padding: 53px 0;
}
footer img {
  margin-left: 131px;
}
footer h5 {
  margin-top: -25px;
  margin-left: 983px;
  color: white;
  font-size: 20px;
}

@media (max-width: 375px) {
  footer {
    background-color: #74C69D;
    height: 125px;
    margin-top: 59px;
  }
  footer img {
    margin-left: 66px;
    margin-top: -31px;
  }
  footer h5 {
    margin-top: 0px;
    margin-left: 24px;
    font-weight: 300;
  }
}/*# sourceMappingURL=contact.css.map */