* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  width: 1518px;
  margin: 0 auto;
}

header {
  background-color: #74C69D;
}

.navbar {
  padding-top: 35px;
}
.navbar img {
  margin-left: 135px;
}
.navbar li {
  list-style: none;
}
.navbar i {
  position: absolute;
  color: white;
  display: none;
}
.navbar--items {
  opacity: 1;
}
.navbar--items ul {
  margin-right: 130px;
  display: flex;
  gap: 30px;
}
.navbar--items a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

@media (max-width: 375px) {
  .conteiner {
    width: 375px;
  }
  .navbar {
    width: 375px;
    padding-top: 20px;
  }
  .navbar img {
    margin-left: 20px;
  }
  .navbar i {
    position: absolute;
    color: rgb(255, 253, 253);
    display: inline;
    margin-left: 330px;
    font-size: 30px;
    margin-top: 6px;
  }
  .navbar--items ul {
    display: none;
  }
}
.part {
  margin-top: 60px;
  text-align: center;
}
.part--text h6 {
  text-transform: uppercase;
  color: #74C69D;
  letter-spacing: 5px;
  font-size: 16px;
}
.part--text h1 {
  margin-top: 16px;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
.part--text p {
  margin-top: 16px;
  font-size: 20px;
}

@media (max-width: 375px) {
  .part {
    margin-top: 22px;
  }
  .part--text h1 {
    font-size: 24px;
  }
  .part--text p {
    line-height: 30px;
    width: 335px;
    margin-top: 16px;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 45px;
  }
}
.cards {
  display: flex;
  margin-top: 72px;
}
.cards--items {
  width: 400px;
  height: 600px;
  margin-left: 80px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 30px 46px;
  text-align: center;
}
.cards--items a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 11px;
  width: 180px;
  height: 50px;
  margin-top: 48px;
  margin-left: 50px;
}
.cards--items a:hover {
  background-color: rgb(67, 66, 66);
}
.cards--items h6 {
  font-size: 15px;
}
.cards--items h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: -70px;
}
.cards--items strong {
  position: absolute;
  margin-left: 174px;
  margin-top: 45px;
  color: rgba(33, 37, 41, 0.5019607843);
  font-weight: 400;
  font-size: 15px;
}
.cards--items img {
  margin-top: 55px;
  width: 203px;
  height: 169px;
}

@media (max-width: 375px) {
  .cards {
    display: inline;
    margin-top: 46px;
  }
  .cards--items {
    width: 339px;
    height: 600px;
    margin-left: 18px;
    margin-top: 50px;
  }
  .cards--items a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 11px;
    width: 180px;
    height: 50px;
    margin-top: 48px;
    margin-left: 50px;
  }
  .cards--items a:hover {
    background-color: rgb(67, 66, 66);
  }
  .cards--items h6 {
    font-size: 15px;
  }
  .cards--items h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: -70px;
  }
  .cards--items strong {
    position: absolute;
    margin-left: 174px;
    margin-top: 45px;
    color: rgba(33, 37, 41, 0.5019607843);
    font-weight: 400;
    font-size: 15px;
  }
  .cards--items img {
    margin-top: 55px;
    width: 203px;
    height: 169px;
  }
}
footer {
  background-color: #74C69D;
  height: 125px;
  margin-top: 68px;
  padding: 53px 0;
}
footer img {
  margin-left: 131px;
}
footer h5 {
  margin-top: -25px;
  margin-left: 983px;
  color: white;
  font-size: 20px;
}

@media (max-width: 375px) {
  footer {
    background-color: #74C69D;
    height: 125px;
    margin-top: 50px;
  }
  footer img {
    margin-left: 66px;
    margin-top: -31px;
  }
  footer h5 {
    margin-top: 0px;
    margin-left: 24px;
  }
}/*# sourceMappingURL=servis.css.map */